.navbar-brand {

    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 30px;
    font-size: 30px;
    padding: 25px 40px;
    
}

.name-text {
    color: #ffffff !important;
    font-weight: bold;
}

.navbar {background-color: #ffffff;}

body {
    background-image: url("../images/intersection.png");
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content-area {
    background-color: #ffffff;
    padding-right: 50px;
    padding-bottom: 30px;
}

#image {
    max-width: 100%;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 25px;
}

.page-name {
    background-color: #ffffff;
    margin-top: 40px;
    border-bottom: 2px solid #cccccc;
}

#page-name-style {
    color: #4aaaa5;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 20px;
}

.fixed-bottom {
    background-color: #666666;
}

.text-center {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-small;
    border-top: 8px solid #4aaaa5;
}

.container {
    margin-bottom: 100px;
}

.btn-info {
    background-color: #4aaaa5;
    border-color: #4aaaa5;
}

.carousel-caption {
    margin-bottom: 0;
    padding-bottom: 0;
}

.card-img {height: 200px;}

.top {padding-top: 30px;}
